version: '3.8'
x-app: &app
  build:
    context: .
    dockerfile: /var/www/cdms/docker_prod/web/Dockerfile
  volumes:
    - .:/var/www/cdms
    - bundle_path:/bundle
  tmpfs:
    - /tmp
  depends_on:
    - db
  networks:
    - app-network
  stdin_open: true
  tty: true

x-nginx: &nginx
  build:
    context: .
    dockerfile: /var/www/cdms/docker_prod/nginx/Dockerfile
  volumes:
    - .:/var/www/cdms
  tmpfs:
    - /tmp
  depends_on:
    - web
  networks:
    - app-network
  stdin_open: true
  tty: true

services:
  nginx: 
    <<: *nginx
    image: nginx
    container_name: nginx
    volumes:
      - /var/www/cdms/docker_prod/nginx/cdms.conf:/etc/nginx/conf.d/default.conf
      - /var/www/cdms/:/var/www/cdms/
    ports:
      - 80:80
    environment:
      RAILS_ENV: development
            
  web:
    <<: *app
    command: >
      bash -c "
        rm -f tmp/pids/server.pid &&
        bundle exec puma
        " # Removing server.pid is technically a cleanup script
    container_name: web
    # ports:
    #   - 3000:3000

  db:
    image: postgres
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      - app-network

volumes:
  pgdata:
    driver: local
  bundle_path:

networks:
  app-network:
    driver: bridge
