<div class='not-print'>
  <div id='sidebar'>
    <div>
      <span class="text-color-default left-side">
        <%= link_to users_documents_path, class: 'text-color-default' do %>
          <%= icon('fa', 'arrow-left', class: 'icon', data: {toggle: 'tooltip'}, title: t('views.links.back')) %>
        <% end %>
      </span>
      <span class="text-color-default left-side" id="print-message">
        <%= t('views.document.print_label') %>
      </span>
    </div>

    <button class="text-color-default" id="print-button">
      <span class="fa fa-print fa-2x"> </span>
    </button>
  </div>
</div>
