<div class="row row-cards">

  <div class="col-sm-6 col-lg-6">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-red text-white mr-3">
          <%= icon('fas', 'user-cog') %>
        </span>
        <div>
          <h4 class="m-0" data-toggle="tooltip" data-placement="bottom" title="Clique aqui para acessar a área administrativa">
            <%= link_to 'Área administrativa', '#' %>
          </h4>
          <small class="text-muted">Administradores</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-6">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-blue text-white mr-3">
          <%= icon('fas', 'user-cog') %>
        </span>
        <div>
          <h4 class="m-0" data-toggle="tooltip" data-placement="bottom" title="Clique aqui para acessar a área do cliente">
              <%= link_to 'Área do usuário', '#'  %>
          </h4>
          <small class="text-muted">Usuários</small>
        </div>
      </div>
    </div>
  </div>

</div>
