/*************************************************************
* Gems
**************************************************************/
@import "font-awesome-sprockets";
@import "font-awesome";

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.text-center {
  text-align: center;
}

.pl-4 {
  padding-left: 1rem !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.col-sm-2 {
  -ms-flex: 0 0 16.66666667%;
  flex: 0 0 16.66666667%;
  max-width: 16.66666667%;
}

.col-10 {
  -ms-flex: 0 0 83.33333333%;
  flex: 0 0 83.33333333%;
  max-width: 83.33333333%;
}

@media print {
  .not-print * {
    display: none;
  }

  .print-area {
    margin: 0;
  }
}

@media not print {
  body {
    background-color: #1e1e1e;
    padding: 0;
    margin: 0;
  }

  .not-print {
    display: block;
  }

  #sidebar {
    border-bottom: 1px solid #2d2d2d;
    padding: 10px;
    margin-bottom: 13px;
    height: 55px;
    background: linear-gradient(to bottom right, #3a3a3a, #353535);
  }

  .text-color-default {
    color: #e4e4e4;
  }

  .left-side {
    font-family: Arial, sans-serif;
    font-size: 1.1em;
    text-align: center;
    position: absolute;
    margin-top: 20px;
  }

  #print-message {
    margin-left: 25px;
  }

  #print-button {
    float: right;
    margin-right: 70px;
    margin-top: 5px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.3em;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  #sidebar > div {
    width: 33%;
    float: left;
    position: inherit;
  }
}

.print-area {
  background-color: white;
  width: 210mm;
  height: 297mm;
  display: block;
  page-break-after: always;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px auto 0;
}

.print-area .row {
  height: 88%;
}
